RUNNINGHUB_API_KEY=your_runninghub_api_key_here

# Image provider options:
# - runninghub
# - macode_image2
IMAGE_PROVIDER=macode_image2

MACODE_BASE_URL=http://111.230.91.68:3002/v1
MACODE_API_KEY=your_macode_api_key_here
MACODE_IMAGE_MODEL=gpt-image-2
MACODE_IMAGE_CONCURRENCY=3
